:81 {
	header {
		-Server
		Content-Security-Policy "object-src 'none'; base-uri 'self'; frame-ancestors 'none'"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy 127.0.0.1:3000
}
